<?xml version="1.0" encoding="utf-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (c) Denalo Entertainment Organization
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.denalo.rshc.rekin.rsd.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.denalo.rshc.rekin.rsd.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name="org.denalo.rshc.rekin.rsd.app.CreateProjectActivity"
            android:label="Create New Project" >
        </activity>
		<activity
            android:name="org.denalo.rshc.rekin.rsd.app.FileListActivity"
            android:label="SD Card File List" >
        </activity>
        <activity
            android:name="org.denalo.rshc.rekin.rsd.app.ConfigActivity"
            android:label="Config" >
        </activity>
        <activity
            android:name="org.denalo.rshc.rekin.rsd.app.config.EditorConfigActivity"
            android:label="Editor Setting" >
        </activity>
        <activity
            android:name="org.denalo.rshc.rekin.rsd.app.config.AppConfigActivity"
            android:label="Application Setting" >
        </activity>
        <activity
            android:name="org.denalo.rshc.rekin.rsd.app.VersionActivity"
            android:label="Version" >
        </activity>
        <activity
            android:name="org.denalo.rshc.rekin.rsd.app.AboutUsActivity"
            android:label="About Us" >
        </activity>
		<activity
			android:name="org.denalo.rshc.rekin.rsd.app.EditorActivity">
		</activity>
    </application>

</manifest>
